<input type="text" class="ui-widget" id="item-search" placeholder="Find a beer by name  ">
<div id="buttons-cont">
    <button id="nav--abv">sort by abv</button>
    <button id="nav--location">location</button>
    <button id="nav--style">Serve style</button>
    <button id="nav--about">?</button>
</div>
