.twitter-typeahead {
    @include box-sizing(border-box);
    background: #8f714a url('/images/icon/search.png') no-repeat 10px center;
    border: 1px solid #8f714a;
    border-radius: 3px;
    padding: 15px 10px 15px 55px;
    display: block !important;
    width: 95%;
    box-shadow: 0 0 0 1px #6c512e inset;
    color: #fff;
    font-family: "myriad-pro",sans-serif;
    margin: 0 auto 0.5em;
    .tt-hint {
        padding: 15px 10px 15px 55px;
        background: none !important;
        width: 100%;
        box-sizing: border-box;
    }
    #item-search {
        width: 100%;
        border: none;
        outline: none;
        &::-webkit-input-placeholder {
            color: #bca169;
            font-weight: normal;
            font-style: italic;
            font-size: 19px;
        }
        &:-moz-placeholder {
            color: #bca169;
            font-weight: normal;
            font-style: italic;
            font-size: 19px;
        }
    }
    .tt-dropdown-menu {
        background: #ddd;
        color: #444;
        border-radius: 3px;
        width: 100%;
        .tt-suggestion {
            margin: 0;
            padding: 15px 10px;
            p {
                margin: 0;
            }
            &.tt-is-under-cursor {
                background: #444;
                color: #ddd;
            }
        }
    }
}
